body {
  padding: .5em;
  font-family: helvetica, arial, sans-serif;
}
textarea {
  width: 100%;
  height: 100px;
}
.code {
  background: #333;
  padding: .5em;
  color: #ccc;
  padding-left: 2em;
  white-space: pre;
  font-family: monospace;
  counter-reset: list;
}
.code li {
  font-size: 18px;
  list-style: none;
  position: relative;
  color: #ccc;
  line-height: 1.4em;
}
.code li strong {
  color: #fff;
  font-weight: bold;
}
.code li::before {
  counter-increment: list;
  content: counter(list,decimal-leading-zero) '.';
  position: absolute;
  top: 0;
  left: -1.2em;
  color: #666;
}
input[type="text"] {
  width: 100px;
}
.colours {
  position: absolute;
  right: 10px;
  top: -5px;
  background: #ccc;
  padding: 5px 10px;
}
canvas, img {
  position: relative;
  top: 5px;
}
.zoom {
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 10;
}
.zoom2 {
  position: absolute;
  right: 5px;
  top: 100px;
  z-index: 1;
}
button {
  margin: -5px 1em 0 1em;
  background: #396;
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 1.1em;
}
div {
  width: 80px;
  height: 49px;
  position: absolute;
  top: 10px;
  right: 220px;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
}