body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: Candara,"Book Antiqua", helvetica, arial, sans-serif;
}
iframe {
  display: block;
  min-width: 700px;
  width: 100%;
  height: 400px;
  border:none;
  box-shadow: 2px 2px 5px #333 inset;
  background: #ccc;
}

header {
  display: block;
  background: #000;
  padding: 5px 10px;
  min-height: 100px;
}
header img {
  vertical-align: middle;
}
section {
  background: #f8f8f8;
  display: block;
  padding: 5px 15px;
}
article {
  clear: left;
  display: block;
  margin: 0 1em;
}
pre {
  font-size: 16px;
}
p {
  clear: left;
  color: #111;
  line-height: 1.3em;
  font-size: 18px;
}
li {
  font-size: 18px;
  color: #000;
  line-height: 1.3em;
  padding-bottom: .5em;
}
blockquote {
  font-size: 18px;
  font-family: Rockwell;
}
code {
  font-family: inherit;
  background: #ccc;
  padding: 0 5px;
}
nav code, .example code {
  background: transparent;
  padding: 0;
}
section a {
  color: #369;
  border-bottom: 1px transparent solid;
  text-decoration: none;
  transition: 0.5s;
}
section a:hover, section a:focus {
  color: #036;
  border-bottom: 1px #369 solid;
}
h1 {
  color: #ccc;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding-left:10px;
}
h1 span {
  position: absolute;
  opacity: 0;
  top: -2em;
}
h2,h3,h4 {
  font-family: Rockwell, helvetica, arial, sans-serif;
}
h2 {
  background: #999;
  float:left;
  font-size: 34px;
  font-weight: normal;
  padding: .2em 1em;
  margin-left: -1em;
  border-radius: 10px;
}
h3 {
  margin-bottom: .2em;
  font-size: 30px;
  font-weight: normal;
}
h4 {
  margin-bottom: .2em;
  font-size: 24px;
  font-weight: normal;
}

dl {
  font-size: 18px;
}
dt {
  font-weight: bold;
  margin-bottom: 5px;
}
dd {
  margin: 0 0 .5em 0;
}
.caveat {
  background: url(../img/sadpanda.png) no-repeat 10px 5px;
  padding-left: 90px;
  min-height: 75px;
}
p img {
  display: block;
  margin: 5px;
}

a.example {
  background: #369;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  line-height: 1.5em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
a.example:hover {
  background: #69c;
}

footer {
  display: block;
  padding: 2em 1em;
  background: #111;
}
footer p {
  color: #ccc;
  font-size: 14px;
}
footer p span {
  color: #666;
  float: right;
  font-size: 14px;
}
nav {
  display: block;
  background: #333;
  padding: 5px 0;
}
nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav .hidden {
  display: none;
}
nav ul {
  margin: 0 1em .5em 1em;
  clear: both;
}
nav ul ul {
  margin: .5em 0 .5em .5em;
}
nav li a:link {
  color: #fff;
}
nav a {
  color: #69c;
  text-decoration: none;
  transition: 0.5s;
}
nav a:hover, nav a:focus {
  color: #fff;
}
#toc:before {
  display: block;
  position: absolute;
  right: 2em;
  content: '▶';
  transform: rotate(0);
  transition: 0.5s;
}
#toc {
  position: relative;
  display: block;
}
#toc.open:before {
  transform: rotate(90deg);
}
footer a {
  color: #fff;
}
@media screen and (min-width:1070px) {
  nav {
    display: block;
    float: right;
    width: 300px;
    margin-top: -120px;
    min-height: 110px;
  }
  section {
    margin-right: 310px;
  }
  header {
    margin-right: 300px;
  }
}

